.sidebar-sticky {
    position: relative;
    height: calc(100vh - 54px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.pagination {
    justify-content: center;
}

.thumbnail_image {
    height: 180px;
    width: 320px;
}

input.video_title, input.video_url, input.information_title {
    width: 100%;
}

.information_text {
    max-height: 50px;
    overflow: hidden;
    padding-bottom: 4px;
    line-height: 160%;
}

span.tag {
    background-color: orange;
    color: white;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: small;
}

.form-control {
    white-space: pre-wrap;
}